<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item Record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>kind</th>
          <th>price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for item in store %}
          <td>{{ item.id }}</td>
          <td>{{item.name}}</td>
          <td>{{item.kind}}</td>
          <td>{{item.price}}</td>

          <td>
            <a href="/update/{{item.id}}">Edit</a>
            <a href="/delete/{{item.id}}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <br />
    <button>
      <a style="color: white" href="{% url 'create_item' %}"> Add Item</a>
    </button>
  </body>
</html>
